<!-- wp:template-part {"slug":"header","theme":"4letheme","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull"><!-- wp:group {"metadata":{"name":""},"style":{"border":{"radius":"10px"},"spacing":{"padding":{"left":"20px","right":"20px","top":"40px","bottom":"40px"}}},"backgroundColor":"white","className":"overlayed","layout":{"type":"constrained"}} -->
    <div class="wp-block-group overlayed has-white-background-color has-background" style="border-radius:10px;padding-top:40px;padding-right:20px;padding-bottom:40px;padding-left:20px"><!-- wp:heading {"level":1} -->
        <h1 class="wp-block-heading">Ooops!</h1>
        <!-- /wp:heading -->

        <!-- wp:heading -->
        <h2 class="wp-block-heading">Ci dispiace, la pagina che stai cercando non esiste.</h2>
        <!-- /wp:heading -->

        <!-- wp:search {"label":"Cerca qualcos'altro:\u003cbr\u003e","buttonText":"Cerca"} /-->

        <!-- wp:latest-posts {"displayAuthor":true,"featuredImageAlign":"left","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"}}}} /--></div>
    <!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"4letheme","tagName":"footer","area":"footer"} /-->