<!-- wp:template-part {"slug":"header","theme":"4letheme","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull"><!-- wp:group {"metadata":{"name":""},"style":{"border":{"radius":"10px"},"spacing":{"padding":{"left":"20px","right":"20px","top":"40px","bottom":"40px"}}},"backgroundColor":"white","className":"overlayed","layout":{"type":"constrained"}} -->
    <div class="wp-block-group overlayed has-white-background-color has-background" style="border-radius:10px;padding-top:40px;padding-right:20px;padding-bottom:40px;padding-left:20px"><!-- wp:post-author-name /-->

        <!-- wp:post-author /-->

        <!-- wp:post-author-biography /--></div>
    <!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"4letheme","tagName":"footer","area":"footer"} /-->