<!-- wp:template-part {"slug":"header","theme":"4letheme","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"blockGap":"0px"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull"><!-- wp:post-featured-image {"aspectRatio":"auto","height":"400px","align":"wide","style":{"spacing":{"margin":{"bottom":"0"}},"border":{"radius":"10px"}}} /-->

	<!-- wp:group {"metadata":{"name":""},"className":"overlayed","style":{"border":{"radius":"10px"},"spacing":{"padding":{"left":"20px","right":"20px","top":"40px","bottom":"40px"},"margin":{"bottom":"-60px"},"blockGap":"0px"}},"backgroundColor":"white","layout":{"type":"constrained"}} -->
	<div class="wp-block-group overlayed has-white-background-color has-background" style="border-radius:10px;margin-bottom:-60px;padding-top:40px;padding-right:20px;padding-bottom:40px;padding-left:20px"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|10","padding":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
		<div class="wp-block-group" style="padding-top:0;padding-bottom:0"><!-- wp:post-content {"lock":{"move":false,"remove":false},"align":"full","layout":{"type":"constrained"}} /--></div>
		<!-- /wp:group --></div>
	<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"4letheme","tagName":"footer","area":"footer"} /-->