<!-- wp:template-part {"slug":"header","theme":"4letheme","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull"><!-- wp:post-featured-image {"aspectRatio":"auto","height":"400px","align":"wide","style":{"spacing":{"margin":{"bottom":"0"}},"border":{"radius":"10px"}}} /-->

	<!-- wp:group {"metadata":{"name":""},"style":{"border":{"radius":"10px"},"spacing":{"padding":{"left":"20px","right":"20px","top":"40px","bottom":"40px"}}},"backgroundColor":"white","className":"overlayed","layout":{"type":"constrained"}} -->
	<div class="wp-block-group overlayed has-white-background-color has-background" style="border-radius:10px;padding-top:40px;padding-right:20px;padding-bottom:40px;padding-left:20px"><!-- wp:yoast-seo/breadcrumbs /-->

		<!-- wp:post-title {"textAlign":"left","level":1,"style":{"typography":{"fontSize":"48px"}},"fontFamily":"teko"} /-->

		<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left","verticalAlignment":"center"}} -->
		<div class="wp-block-group"><!-- wp:post-date /--></div>
		<!-- /wp:group -->

		<!-- wp:columns {"style":{"border":{"radius":"0px"}}} -->
		<div class="wp-block-columns" style="border-radius:0px"><!-- wp:column {"width":"70%"} -->
			<div class="wp-block-column" style="flex-basis:70%"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|10","padding":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
				<div class="wp-block-group" style="padding-top:0;padding-bottom:0"><!-- wp:post-content {"lock":{"move":false,"remove":false},"align":"full","layout":{"type":"constrained"}} /-->

					<!-- wp:spacer {"height":"0px","style":{"layout":{"flexSize":"25px","selfStretch":"fixed"}}} -->
					<div style="height:0px" aria-hidden="true" class="wp-block-spacer"></div>
					<!-- /wp:spacer -->

					<!-- wp:group {"layout":{"type":"constrained"}} -->
					<div class="wp-block-group"><!-- wp:post-author {"showAvatar":false,"isLink":true} /-->

						<!-- wp:post-terms {"term":"post_tag","separator":"  ","className":"is-style-pill"} /-->

						<!-- wp:comments -->
						<div class="wp-block-comments"><!-- wp:comments-title /-->

							<!-- wp:comment-template -->
							<!-- wp:columns -->
							<div class="wp-block-columns"><!-- wp:column {"width":"40px"} -->
								<div class="wp-block-column" style="flex-basis:40px"><!-- wp:avatar {"size":40,"style":{"border":{"radius":"20px"}}} /--></div>
								<!-- /wp:column -->

								<!-- wp:column -->
								<div class="wp-block-column"><!-- wp:comment-author-name {"fontSize":"small"} /-->

									<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex"}} -->
									<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:comment-date {"fontSize":"small"} /-->

										<!-- wp:comment-edit-link {"fontSize":"small"} /--></div>
									<!-- /wp:group -->

									<!-- wp:comment-content /-->

									<!-- wp:comment-reply-link {"fontSize":"small"} /--></div>
								<!-- /wp:column --></div>
							<!-- /wp:columns -->
							<!-- /wp:comment-template -->

							<!-- wp:comments-pagination -->
							<!-- wp:comments-pagination-previous /-->

							<!-- wp:comments-pagination-numbers /-->

							<!-- wp:comments-pagination-next /-->
							<!-- /wp:comments-pagination -->

							<!-- wp:post-comments-form /--></div>
						<!-- /wp:comments --></div>
					<!-- /wp:group --></div>
				<!-- /wp:group --></div>
			<!-- /wp:column -->

			<!-- wp:column {"width":"30%"} -->
			<div class="wp-block-column" style="flex-basis:30%"><!-- wp:block {"ref":4582} /--></div>
			<!-- /wp:column --></div>
		<!-- /wp:columns -->

		<!-- wp:spacer {"height":"25px"} -->
		<div style="height:25px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

		<!-- wp:separator -->
		<hr class="wp-block-separator has-alpha-channel-opacity"/>
		<!-- /wp:separator -->

		<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
		<div class="wp-block-group"><!-- wp:post-navigation-link {"type":"previous","showTitle":true,"arrow":"chevron"} /-->

			<!-- wp:post-navigation-link {"showTitle":true,"arrow":"chevron"} /--></div>
		<!-- /wp:group --></div>
	<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"4letheme","tagName":"footer","area":"footer"} /-->